01. TABELA 01 - TAXAS

In [23]:
import pandas as pd
import requests 

url = "https://brasilapi.com.br/api/taxas/v1"
response = requests.get(url)

In [24]:
if response.status_code == 200:
    data_json = response.json()
else:
    print("Erro ao acessar a API")

In [25]:
taxas_full = pd.DataFrame(data_json)
taxas_full.head(3)

    nome  valor
0  Selic  10.50
1    CDI  10.40
2   IPCA   3.93

02. TABELA 02 - UF

In [7]:
url = "https://brasilapi.com.br/api/ibge/uf/v1"
response = requests.get(url)

In [8]:
if response.status_code == 200:
    data_json = response.json()
else:
    print("Erro ao acessar a API")

In [9]:
UF_full = pd.DataFrame(data_json)
UF_full.head(3)

   id sigla      nome                                    regiao
0  11    RO  Rondônia  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
1  12    AC      Acre  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
2  13    AM  Amazonas  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}

03. TABELA 03 - PIX

In [10]:
url = "https://brasilapi.com.br/api/pix/v1/participants"
response = requests.get(url)

In [11]:
if response.status_code == 200:
    data_json = response.json()
else:
    print("Erro ao acessar a API")

In [12]:
pix_full = pd.DataFrame(data_json)
pix_full.head(3)

,ispb,nome,nome_reduzido,modalidade_participacao,tipo_participacao,inicio_operacao
0,00000000,BANCO DO BRASIL S.A.,BCO DO BRASIL S.A.,PDCT,DRCT,2020-11-03T09:30:00.000Z
1,00000208,BRB - BANCO DE BRASILIA S.A.,BRB - BCO DE BRASILIA S.A.,PDCT,DRCT,2020-11-03T09:30:00.000Z
2,00068987,COOPERATIVA DE CRÉDITO ARACREDI LTDA. - SICOOB...,CC ARACREDI LTDA.,PDCT,IDRT,2020-11-03T09:30:00.000Z

04. TABELA 04 - DDD

In [55]:
from plyer import notification

def alerta(response, url, ddd):
    
    if response == 200:
        titulo = "DEU BOM!"
    else:
        titulo = "DEU RUIM AMIGÃO!"

    mensagem = f"O DDD: 0{ddd} digitado não foi encontrado na base: {url}"

    notification.notify(
        title=titulo,
        message=f"{mensagem}",
        app_name="DESAFIO FINAL",
        timeout=10
    )

In [67]:
ddd = input("Qual o DDD quer buscar?")
url = f"https://brasilapi.com.br/api/ddd/v1/{ddd}"
response = requests.get(url)

if response.status_code == 200:
    data_json = response.json()
    ddd_full = pd.DataFrame(data_json)
    ddd_full.head(3)
else:
    alerta(response, url, ddd)